In [1]:
import os 
import pandas as pd
import numpy as np
import csv 



path = "data"

In [5]:
trainers = pd.read_csv("my-collection.csv")

In [6]:
trainers.head(100)

,Brand,Model,Colour,Shoe Size (UK 8),Release Date,Purchase Year,Designer,Retail Price,Cost,Secondary Market Price (UK8 Stock X)
0,Adidas,NMD,Sun Glow,8.0,2017.0,2017,Pharrell,£199.00,£350.00,£301.00
1,Nike,Air Max 1,Varsity Red,8.0,2017.0,2017,NaN,£120.00,£120.00,£290.00
2,Nike,Air Max 1,University Blue,8.0,2017.0,2017,NaN,£120.00,£120.00,£356.00
3,Nike,Air Max 1,Kiss of Death,8.0,2021.0,2021,Clot,£120.00,£195.00,£108.00
4,Nike,Air Max 1,Atmos Elephant,8.0,2015.0,2019,Atmos,£120.00,£270.00,£964.00
...,...,...,...,...,...,...,...,...,...,...
59,New Balance,997,Multi,7.0,NaN,2016,NaN,£130.00,£35.00,£89.00
60,Vans,SK8 HI,Black,8.0,NaN,2016,NaN,£60.00,£35.00,£52.00
61,Converse,Chuck Taylor,Black,8.0,2019.0,2019,Comme des Garcons,£90.00,£81.00,£123.00
62,NaN,Chuck Taylor,White,8.0,2019.0,2019,Comme des Garcons,£90.00,£81.00,£130.00
63,Yeezy,700,OG,8.0,2015.0,2021,NaN,£250.00,£250.00,£320.00